*{
    box-sizing: border-box;
    color: black;
    font-family: 'DM Mono', monospace;
}

body{
    

}



.circular--square {
    border:0.5px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.PText{
    width: 60%;
    margin: auto;
    line-height: 1.5em;
}

.PT1{
    margin-top:20px;
}

.col-xs-12{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

@media(max-width: 768px)
{
.nav-link{
    margin:0;
    text-align: center;
    border-bottom:0.5px solid white;
    border-: 50%;
}

.navbar-nav .nav-item:last-child .nav-link{
    border-bottom: 0;
}

.navbar-nav .nav-item:first-child .nav-link{
    border-top: 0.5px solid white;
}
}

#Logo{
    height: 200px;
    width: 200px;
}

.footimg{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}


